<footer class="t-hackcss-footer">
  <hr>


  <h2 class="footer-heading">Richard Border</h2>
  <!-- <div class="grid t-hackcss-sm-reversed-grid"> -->
  <!-- <div class="cell -4of12"> -->
  <!-- {{ site.description }} -->
  <b>Richard Border</b>
  <br>
  <!-- </div> -->
  <!-- <div class="cell -5of12"> -->
  <!-- </div> -->
  <!-- <div class="cell -12of12" style="text-align: right"> -->
          {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
            
          </span>
          <!-- <br> -->
        {% endfor %}
          <!-- </div> -->
          <!-- </div> -->


          <!-- </div> -->

</footer>
